
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>course</title>
</head>
<body>
    <div class="text-center">
        <p>This page is to house a list of courses from the API provided, maybe automatically be sorted by distance starting from closest to user?</p>
</body>
</html>
