
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <div class="text-center">
        <h2>Test</h2>
        <p>Landing page for project, most likely an overview of the app and features offered.</p>
    </div>
</body>
</html>
