
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>inventory</title>
</head>
<body>
    <div class="text-center">
        <h2>User Name, Inventory?</h2>
        <h3>Maybe buttons up here to add and delete?</h3>
        <p>Pull from users list of discs and display their information.</p>
    </div>
</body>
</html>
